<!DOCTYPE html>

<!-- This is a template page that is used for every page displayed -->
<!-- What is not overridden in pages that use this template then the ui:insert in the template are used -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title><ui:insert name="windowTitle" /></title>

        <h:outputStylesheet library="webjars" name="bootstrap/3.3.7-1/css/bootstrap.min-jsf.css" />
        <h:outputStylesheet library="webjars" name="bootstrap/3.3.7-1/css/bootstrap-theme.min-jsf.css" />
        <h:outputStylesheet library="webjars" name="font-awesome/4.7.0/css/font-awesome.min-jsf.css" />
        <h:outputStylesheet library="css" name="style.css" />

    </h:head>

    <h:body>
        <!-- Control-Shift x -->
        <ui:debug hotkey="x"
                  rendered="#{initParam['javax.faces.PROJECT_STAGE'] eq 'Development'}" />

        <div id="header">
            <ui:insert name="header">
                <ui:include src="../sections/header.xhtml" />
            </ui:insert>
        </div>

        <div id="menu">
            <ui:insert name="menu">
                <ui:include src="../sections/menu.xhtml" />
            </ui:insert>
        </div>
        <div class="container">

            <div id="content">
                <ui:insert name="content"/>
            </div>

            <div id="footer">
                <ui:insert name="footer">
                    <ui:include src="../sections/footer.xhtml" />
                </ui:insert>
            </div>
        </div>
        <ui:debug />

        <!-- load js at bottom for faster loading-->
        <h:outputScript library="webjars" name="jquery/3.1.1-1/jquery.min.js"/>
        <h:outputScript library="webjars" name="bootstrap/3.3.7-1/js/bootstrap.min.js" />

    </h:body>
</html>