<!-- This is a content page that will be included in the layout page -->
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html">

    <div class="row">
        <div class="col-md-4">
            <h2>Heading 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum purus vitae est fermentum, cursus dignissim lectus euismod. Cras euismod sapien vitae nunc gravida facilisis. Sed at erat dictum urna bibendum aliquet a ac metus. Pellentesque ac eros scelerisque, vestibulum leo quis, rhoncus nisl. Praesent nisi purus, suscipit at leo finibus, condimentum placerat eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc viverra dictum lorem sed ultricies.</p>
            <p>
                <h:outputLink value="#" class="btn btn-default" role="button">#{msgs.viewDetails}</h:outputLink>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Heading 2</h2>
            <p>Vivamus posuere sollicitudin eleifend. Nam eleifend eros id orci suscipit dignissim. Nunc tempor vel arcu non interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent semper efficitur quam ac pellentesque. Vestibulum sem libero, semper non finibus semper, aliquam a ligula. Fusce scelerisque purus vel sapien laoreet pellentesque. Donec pretium metus enim, sed faucibus dolor ornare non. Curabitur eleifend, dolor a pretium pellentesque, arcu ligula bibendum tellus, at malesuada mi neque et libero. Sed tincidunt tellus sed arcu accumsan, vel sagittis mi pulvinar. Ut semper ultrices odio in tempus. Vivamus dignissim nunc vitae erat hendrerit venenatis. Aliquam scelerisque feugiat ante, et aliquam dui bibendum vel. Praesent ac purus eget eros molestie viverra. Maecenas feugiat placerat mattis.</p>
            <p>
                <h:outputLink value="#" class="btn btn-default" role="button">#{msgs.viewDetails}</h:outputLink>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Heading 3</h2>
            <p>Suspendisse sapien dolor, volutpat in imperdiet vitae, scelerisque eget nunc. Suspendisse imperdiet ex nec consectetur auctor. In id ex suscipit, vulputate est eget, sollicitudin sapien. Phasellus posuere massa at diam fermentum, ornare malesuada mi consectetur. Nulla lacinia risus vitae turpis blandit elementum. Fusce efficitur justo in sapien luctus, sed vestibulum augue laoreet. Praesent ut tortor et quam pulvinar viverra. Vivamus quis posuere sem. Sed ac pharetra ligula, id sodales mauris.</p>
            <p>
                <h:outputLink value="#" class="btn btn-default" role="button">#{msgs.viewDetails}</h:outputLink>
            </p>
        </div>
    </div>

    <hr/>
</ui:composition>
