<ui:composition
    template="/WEB-INF/templates/masterTemplate.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:define name="windowTitle">
        #{msgs.pageTitle1}
    </ui:define>

    <ui:define name="content">
        <!--            <ui:include src="/WEB-INF/content/content1.xhtml" />-->
        <ui:include src="#{selector.select1}" />
    </ui:define>


</ui:composition>
